<ion-view view-title="Cerca a tí">
  <ion-content>
    <div class="map-zones-wrapper">
      <h3>Ubicación</h3>
      <ul>
        <li class="map-top-item" ng-repeat="zone in filters.zona.values">
          <label ng-click="zone.checked ? moveMapTo(zone) : ''">
            <input type="checkbox" ng-model="zone.checked">
            <p>{{zone.name}}</p>
          </label>
        </li>
      </ul>
    </div>
    <div class="row main-map">
      <div id="map">
      </div>
    </div>
    <div class="map-info-wrapper">
      <div class="row bottom-options-row">
        <div class="col">
          <button class="button" ng-click="showFilters()"><span>Filtros</span><i class="ion-ios-settings-strong"></i>
          </button>
        </div>
      </div>
      <div class="row map-items-carousel-wrapper">
        <ks-swiper-container ng-if="carouselReviews.length" initial-slide="3" speed="2000" loop="false"
                             show-nav-buttons="false" slides-per-view="3"
                             space-between="5" pagination-clickable="false">
          <ks-swiper-slide class="swiper-slide"
                           ng-repeat="review in carouselReviews" style="width: 5rem" ng-click="navigateToReview(review.id)">
            <img ng-src="{{review.fotos[0]}}">
          </ks-swiper-slide>
        </ks-swiper-container>
        <div ng-if="!carouselReviews.length" class="map-items-carousel-nothing">
          Lo sentimos, no encontramos restaurantes en la zona que estás observando.
        </div>
      </div>
    </div>
</ion-view>
