<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content drag-content="false">
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Menú</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close href="#!/app/newsfeed">
          Newsfeed
        </ion-item>
        <ion-item menu-close href="#!/app/favoritos">
          Favoritos
        </ion-item>
        <ion-item ng-if="!isLoggedIn()" menu-close href="#!/sign-up">
          Registrarse
        </ion-item>
        <ion-item ng-if="isLoggedIn()" menu-close ng-click="logOut()">
          Cerrar sesión
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
