<ion-view view-title="Newsfeed">
  <ion-content>
    <div class="row filters-row">
      <ul>
        <li ng-click="selectOrder('fecha')">
          Últimos <i ng-if="selectedOrder === 'fecha'" class="ion-chevron-{{ reverseOrder ? 'down' : 'up' }}"></i>
        </li>
        <li ng-click="selectOrder('distanceTo')">
          Por cercanía <i ng-if="selectedOrder === 'distanceTo'"
                          class="ion-chevron-{{ reverseOrder ? 'down' : 'up' }}"></i>
        </li>
        <li ng-click="selectOrder('calificacion')">
          Por rating <i ng-if="selectedOrder === 'calificacion'"
                        class="ion-chevron-{{ reverseOrder ? 'down' : 'up' }}"></i>
        </li>
        <li ng-click="selectOrder('precio')">
          Por precio <i ng-if="selectedOrder === 'precio'" class="ion-chevron-{{ reverseOrder ? 'down' : 'up' }}"></i>
        </li>
      </ul>
    </div>
    <div on-swipe-right="onSwipe('right')" on-swipe-left="onSwipe('left')" class="row newsfeed-row"
         ng-repeat="review in reviews | bogotaEats | orderBy:selectedOrder:reverseOrder">
      <newsfeed-item review="review" order-by="orderBy"></newsfeed-item>
    </div>
  </ion-content>
  <div class="row bottom-options-row">
    <div class="col">
      <button class="button" ng-click="openMap()"><span>Mapa</span><i class="ion-earth"></i></button>
    </div>
    <div class="col">
      <button class="button" ng-click="showFilters()"><span>Filtros</span><i
        class="ion-ios-settings-strong"></i></button>
    </div>
  </div>
</ion-view>
