/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

$gray: #8E9092;
$dark-blue: #2B3744;
$orange: #FF9700;
$magenta: #F22736;

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

a {
  text-decoration: none;
  color: $gray;
}

/**
 * Header/global styles
 */
.bar.bar-stable .title {
  color: #fff;
}

.bar-stable .button.button-clear {
  color: #fff;
}

.bar.bar-stable {
  background-color: #2B3744 !important;
}

/**
 * Newsfeed filter styles
 */
.filters-row {
  padding: 0;
}

.filter-button-col {
  padding: 0;
  margin: 0;
}

/**
 * Newsfeed-related styles
 */
.newsfeed-row {
  padding: 0;
  margin-bottom: 8px;
}

.newsfeed-row:last-of-type {
  margin-bottom: 0;
}

.newsfeed-item-container {
  height: 66vw;
  position: relative;
}

.newsfeed-item-container img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  object-fit: cover;
}

.newsfeed-item-container > a {
  display: block;
  position: absolute;
  top: 25%;
  bottom: 0;
  left: 0;
  right: 0;
}

.newsfeed-item-top-row {
  text-align: center;
  max-height: 30%;
}

.newsfeed-item-carousel-indicator {
  color: rgba(255, 255, 255, 0.75);
  font-size: 0.65rem;
  padding-left: 0;
}

.newsfeed-item-heart {
  font-size: 1.9rem;
  padding-left: 1rem;
  color: rgba(255, 255, 255, 0.75);
}

.newsfeed-item-bottom-row {
  position: absolute;
  bottom: 0.5rem;
  text-align: center;

  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.newsfeed-item-title-container {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
}

.newsfeed-item-title-container h2, h4 {
  color: #fff;
  font-weight: 200;
}

.newsfeed-item-title-container h2 {
  font-size: 1.25rem;
  margin-top: 0;
  margin-bottom: 0.15rem;
}

.newsfeed-item-title-container h4 {
  margin-top: 0;
  margin-bottom: 0.15rem;
  font-size: 0.75rem;
}

.newsfeed-item-title-container h4 i {
  margin-right: 0.5ch;
}

.rating-circle {
  position: relative;
  margin: 0 0.75rem;
  width: 3.25rem;
  height: 3.25rem;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.65);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rating-circle h4 {
  color: #000;
  font-weight: 400;
  font-size: 0.95rem;
  margin: 0;
}

.rating-circle p {
  margin: -0.35rem;
  font-size: 0.55rem;
  color: #666;
}

/**
 * Bottom options and related
 */
.bottom-options-row {
  position: fixed;
  bottom: 0;
  height: 30vw;
}

.bottom-options-row .col {
  display: flex;
  align-items: center;
}

.bottom-options-row .col:first-of-type {
  display: flex;
  justify-content: flex-end;
}

.bottom-options-row .col .button {
  height: 2.75rem;
  min-height: 0;

  max-width: 50vw;
  width: 40vw;

  border-radius: 25px;
  border: 2px solid #858488;
  color: #858387;
  position: relative;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.85);
  margin: 0 0.5rem;
}

.bottom-options-row .col .button span {
  position: absolute;
  left: 11vw;
  top: -0.15rem;
  font-size: 1rem;
}

.bottom-options-row .col .button i {
  position: absolute;
  right: 5vw;
  top: -0.15rem;
  font-size: 1.5rem;
}

.ion-ios-settings-strong {
  font-size: 1.4rem !important;
}

/**
 * Review-specific css
 */
.review-hero-row {
  height: 66vw;
  padding: 0;
  margin-bottom: 1.25rem;
}

.review-hero-row .col {
  padding: 0;
  position: relative;
}

.review-hero-row .col img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  object-fit: cover;
}

.review-hero-row h2 {
  position: absolute;
  bottom: -1.5rem;
  background-color: #fff;
  display: inline-block;
  padding: 0.5rem 1.5rem;
  border-radius: 15px;
  font-size: 1.25rem;
  font-weight: 400;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.review-taxonomy-info, .review-relationships-info {
  text-align: center;
}

.review-taxonomy-info span, .review-relationships-info span {
  margin: auto 0.75rem;
  font-size: 0.75rem;
}

hr.taxonomy-divider {
  border-right: 1px solid #939393;
  border-left: none;
  border-top: none;
  border-bottom: none;

  width: 1px;
  height: 14px;
  display: inline-block;

  margin: 0;
}

.review-actions {
  margin-top: 0 !important;
}

.review-actions:last-of-type {
  margin-top: 1rem !important;
}

.review-actions .col {
  text-align: center;
}

.review-actions .col button {
  background-color: #2B3744;
  padding-top: 0.25rem;
  width: 16vw;
}

.review-actions .col button i {
  font-size: 2rem;
  color: #fff;
}

.review-content {
  padding: 0 1.75rem;
  margin-top: 0.15rem !important;
  margin-bottom: 1.75rem !important;

  white-space: pre-line;
  text-align: justify;
}

hr.review-horizontal {
  width: 75%;
}

.dishes-title {
  margin-top: 0.75rem;
  padding: 0 1.25rem;
}

.dishes-title h3 {
  font-size: 1.25rem;
}

.dish-info-container .row {
  padding: 0;
}

.dish-info-img {
  height: 66vw;
  padding: 0;
}

.dish-info-img img {
  height: 100%;
}

.dish-info {
  padding: 0 1.5rem !important;
}

.dish-info h5 {
  font-size: 1.075rem;
  margin-top: 1.25rem;
}

.comments-wrapper {
  margin-bottom: 2rem;
}

.comments-title {
  margin-top: 0.75rem;
  padding: 0 1.25rem;
}

.comments-title h3 {
  font-size: 1.25rem;
}

.grade-wrapper {
  padding: 0 1rem;
}

.publish-grade-button {
  text-align: right;
  padding-right: 1.5rem;

  button {
    border-radius: 500px;
    background-color: $magenta;
    min-height: 0;
    padding: 0 1rem;
    height: 2rem;
    font-size: 0.9rem;

    span {
      position: relative;
      top: -7px;
    }

    &::after {
      content: none;
    }
  }
}

.review-circles {
  display: inline-flex;
  align-items: center;
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
}

.review-circles .rating-circle {
  margin: 0 0.25rem;
}

.review-circles .rating-circle + p {
  color: #fff;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 0.75rem;
  max-width: 3rem;
}

input.be-input {
  border-bottom: 2px solid rgba(0, 0, 0, 0.25);
  height: 2.5rem;
  margin-bottom: 0.75vh;
  width: 100%;

  &:focus {
    border-bottom: 2px solid #FF9700;
    color: #FF9700;
  }

  &:last-of-type {
    margin-bottom: 0.75rem;
  }
}

.login-col {
  padding: 0 1.25rem;
  text-align: center;

  a {
    font-size: 1rem;
    display: block;
    margin: 1.25rem 0 1rem;
  }
}

.login-button {
  border-radius: 500px;

  &.button-positive {
    background-color: $orange;
    font-size: 0.9rem;

    &.activated {
      background-color: darken($orange, 20%);
    }

    &:active {
      background-color: darken($orange, 20%);
    }
  }
}

.padding {
  padding: 0 2.5rem;
}

.login-bar {
  background-color: $dark-blue;

  img {
    height: 1.65rem;
    vertical-align: middle;
  }

  h1 {
    color: #fff;
  }
}

div.login-title {
  text-align: center;

  h3.create-account {
    font-size: 1.25rem;
    color: $gray;
    margin-top: 5vh;
    margin-bottom: 0.75vh;
    position: relative;

    &::after {
      content: '';
      width: 15%;
      height: 2px;
      background-color: $gray;
      position: absolute;
      bottom: -0.25rem;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.social-row {
  text-align: center;

  p {
    margin: 0.75vh 0;
    padding: 0 1rem;
    color: $gray;
  }
}

.no-signup-row {
  text-align: center;
  margin-top: 0.25rem !important;

  a {
    font-size: 1rem;
  }
}

.login-button {
  position: relative;

  &::after {
    content: none;
  }

  i {
    position: absolute;
    left: 4.5vw;
    font-size: 1.5rem;
  }

  span {
    position: relative;
    left: 2.5vw;
  }
}

#facebook-signup-button {
  background-color: #2B3744;
}

#google-signup-button {
  background-color: #80878F;
}

#log-in-button {
  background-color: $dark-blue;
}

#facebook-login-button {
  background-color: #80878F;
}

.ion-ios-heart-outline {
  z-index: 10000;
}

.empty-list {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;

  h3 {
    padding: 0 1.75rem;
    color: #666;

    i {
      font-size: 1.75rem;
    }
  }
}

$review-slider-size: 1.5rem;

.noUi-handle {
  height: $review-slider-size !important;
  width: $review-slider-size !important;

  background-color: $magenta;
  border: none;
  box-shadow: none;
  border-radius: 50%;

  left: 0 !important;
  top: 0 !important;

  &:before {
    background: transparent;
    display: inline-block;
    font-family: "Ionicons";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    content: "";
    color: #fff;
    left: 10px;
    top: 7px;
    font-size: 0.75rem;
  }

  &:after {
    content: none;
  }
}

.noUi-background {
  background-color: #E6E6E6;
  border: none;
  border-radius: 500px;
  box-shadow: none;
  height: $review-slider-size;
}

.noUi-horizontal.noUi-extended {
  padding-right: 24px;
}
.noUi-horizontal.noUi-extended .noUi-handle {
  left: -1px;
}
.noUi-horizontal.noUi-extended .noUi-origin  {
  right: -32px;
}

.slider-wrapper {
  padding: 0;
  margin-top: 0.75vh;
  text-align: center;
  font-size: 1rem;
  color: #858488;

  .col-80 {
    padding-right: 0.25rem;
  }

  .col-10 {
    max-width: 11%;
  }
}

.comments-wrapper {
  > h5 {
    margin-left: 1.5rem;
    color: #919191;
  }
}

//simple max-width query
@media screen and ( min-height: 600px ){
  h3.create-account {
    margin-top: 10vh !important;
  }

  .no-signup-row {
    margin-top: 5vh !important;
  }
}

.filters-row {
  height: 2.55rem;

  ul {
    display: flex;
    width: 100%;
    height: 2.25rem;

    li {
      padding: 0;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-basis: 0;
      flex-grow: 1;
      font-size: 0.75rem;
      border-right: 1px solid #ccc;
      max-height: 2.25rem;
      height: 2.25rem;

      i {
        margin-left: 0.25rem;
        font-size: 0.5rem;
      }

      &:last-of-type {
        border-right: none;
      }
    }
  }
}

.scroll {
  height: 100%;
}

#map {
  width: 100%;
  height: 100%;
}

.row.main-map {
  padding: 0;
  height: 100%;

  #map {
    width: 100%;
    height: 100%;
  }
}

.map-info-wrapper {
  display: inline-block;
  position: fixed;
  bottom: 0;
  width: 100%;

  .swiper-slide {
    width: 33% !important;

    img {
      border-radius: 10px;
      border: 1px solid rgba(0, 0, 0, 0.25);
      height: 100%;
      width: 90%;
      object-fit: cover;
    }
  }

  .bottom-options-row {
    position: relative;
    height: auto;
    margin-bottom: 0.5rem;

    .col .button {
      margin: 0 auto;
    }
  }

  .map-items-carousel-wrapper {
    min-height: 17vh;
    max-height: 17vh;
    display: inline-flex;

    .map-items-carousel-nothing {
      background-color: rgba(255, 255, 255, 0.925);
      border-radius: 10px;
      padding: 1rem 1.5rem;
      text-align: center;
      font-size: 1rem;
      color: #666;
    }
  }
}


/**
 * filter styles
 */
.filters-popup {
  .popup {
    width: 92.5%;
    background-color: #fff;

    .popup-body {
      padding: 0;
    }

    .filters-popup-button {
      padding: 0 1.5rem;
    }
  }
}

div.location-item {
  padding: 0 1rem;

  label {
    display: block;
    line-height: 2.5rem;

    * {
      display: inline;
      width: inherit;
      vertical-align: middle;
    }
  }

  p {
    vertical-align: baseline;
  }
}

.filters-popup-body {
  .list {
    margin-bottom: 1.25rem;
  }
}

// accordion
.list .item.item-accordion {
  line-height: 38px;
  padding: 0;
  transition: 0.25s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

.item.item-stable {
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;

  &:last-of-type {
    border-bottom: none;
  }
}

.filter-grid-item {
  text-align: center;

  input.with-label {
    display: none;

    &:checked + label.filters-label {
      background-color: #FF9700;
    }
  }

  $grid-item-icon-size: 4.25rem;

  label.filters-label {
    display: inherit;
    border-radius: 0.75rem;
    height: $grid-item-icon-size;
    width: $grid-item-icon-size;
    margin: 0.5rem;
  }

  p.category-name {
    font-size: 0.95rem;
    color: #858488;
    margin-top: -0.75rem;
  }
}

/**
 * map-related styles
 */
.map-zones-wrapper {
  background-color: rgba(255,255,255,0.95);
  width: 90%;
  margin: 0 calc(10%/2);
  position: absolute;
  z-index: 1;
  padding: 0.25rem 0.5rem;
  color: #858488;
  max-height: 22.5vh;

  h3 {
    color: #858488;
    font-size: 1rem;
  }

  ul {
    overflow-y: scroll;

    li.map-top-item {
      * {
        display: inline;
      }

      label {
        display: block;

        p {
          vertical-align: text-bottom;
        }
      }
    }
  }
}

.button-admin{
  margin-top: 10rem;
  .button{
    height: 2.75rem;
    min-height: 0;
    max-width: 80vw;
    width: 75vw;
    border-radius: 25px;
    border: 2px solid #858488;
    color: #858387;
    position: relative;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.85);
    margin: 0 0.5rem;
  }

}
