<ion-view view-title="Administrador">
  <ion-nav-bar>
  </ion-nav-bar>
  <ion-content scroll="true" overflow-scroll="true" class="card-background-page">
    <div class="list">
      <div class="col-offset-10 button-admin">
        <a class="button"  ui-sref="newReview">
          <span>
            Crear Nuevo Review
          </span>
        </a>
      </div>
      <div class="col-offset-10 button-admin">
        <button class="button" ui-sref="editableReviews">
          <span>
            Editar Review
          </span>
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
