<ion-view view-title="Crear Nuevo Review">
  <ion-nav-bar>
  </ion-nav-bar>
  <ion-content scroll="true" overflow-scroll="true" class="card-background-page">
    <div class="list" ng-model="review">
      <div class="item item-divider">
        Review
      </div>
      <div class="item item-image" ng-click="agregarFoto()">
        <img ng-src="../img/emptyFood.png" onerror="this.src='../img/emptyFood.png'">
        <button class="button button-stable button-clear" style="position: absolute; top: 70%; right: 35%">Agregar Foto</button>
      </div>
      <label class="item item-input">
        <input type="text" placeholder="Nombre Restaurante" ng-model="review.nombre">
      </label>
      <div class="item range">
        <label class="input-label">Calificación</label>
        <input class="col col-75" type="range" name="calificacion" min="0" max="10" ng-model="review.calificacion" value="0">
        {{review.calificacion}}
      </div>
      <div class="item item-input">
        <label class="input-label">Precio</label>
        <ion-list>
          <ion-radio ng-model="review.price" ng-value="1">$</ion-radio>
          <ion-radio ng-model="review.price" ng-value="2">$$</ion-radio>
        </ion-list>
        <ion-list>
          <ion-radio ng-model="review.price" ng-value="3">$$$</ion-radio>
          <ion-radio ng-model="review.price" ng-value="4">$$$$</ion-radio>
        </ion-list>
      </div>
      <label class="item item-select">
        <div class="input-label">
          Seleccione Tipo de Cocina
        </div>
        <select ng-model="review.tipoComida">
          <option value="Mexicana">Mexicana</option>
          <option value="Colombiana">Colombiana</option>
          <option value="Oriental">Oriental</option>
          <option value="Fusión">Fusión</option>
          <option value="Rápida">Rápida</option>
          <option value="Italiana">Italiana</option>
        </select>
      </label>
      <label class="item item-select">
        <div class="input-label">
          Seleccione Ocasiones (Perfecto para)
        </div>
        <select ng-model="review.tipoOcacion">
          <option value="Mexicana">Mexicana</option>
          <option value="Colombiana">Colombiana</option>
          <option value="Oriental">Oriental</option>
          <option value="Fusión">Fusión</option>
          <option value="Rápida">Rápida</option>
          <option value="Italiana">Italiana</option>
        </select>
      </label>
      <label class="item item-select">
        <div class="input-label">
          Seleccione zona de ubicación
        </div>
        <select ng-model="review.zona">
          <option value="Usaquen">Usaquen</option>
          <option value="Zona G">Zona G</option>
          <option value="Calera">Calera</option>
          <option value="Zona T">Zona T</option>
          <option value="Centro">Centro</option>
          <option value="Alrededores">Alrededores</option>
        </select>
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Agregue dirección específica" ng-model="review.direccion">
      </label>
      <label class="item item-input">
        <input type="number" placeholder="Longitud" ng-model="review.geloc.lat">
      </label>
      <label class="item item-input">
        <input type="number" placeholder="Latitud" ng-model="review.geloc.lng">
      </label>
      <label class="item item-input">
        <textarea placeholder="Reseña" rows="4" ng-model="review.comentario"></textarea>
      </label>
      <div class="item item-divider">
        Plato
      </div>
      <div class="item item-image" ng-click="agregarFoto()">
        <img ng-src="../img/emptyFood.png" onerror="this.src='../img/emptyFood.png'">
        <button class="button button-stable button-clear" style="position: absolute; top: 70%; right: 35%">Agregar Foto</button>
      </div>
      <label class="item item-input">
        <textarea placeholder="Reseña Plato" rows="4"></textarea>
      </label>
      <div class="item publish-grade-button">
        <button ng-click="saveReview()" class="button button-assertive button-full">
          <span>Guardar</span>
        </button>
      </div>
      <div class="item publish-grade-button">
        <button ui-sref="admin" class="button button-assertive button-full">
          <span>Cancelar</span>
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
