<ion-modal-view>
  <ion-header-bar>
    <button ng-click="closeMap()" class="button button-icon icon ion-chevron-left">Cerrar</button>
    <h1 class="title">Mapa</h1>
  </ion-header-bar>
  <ion-content>
    <div id="map"></div>
  </ion-content>
</ion-modal-view>
